@use "../Foundation/variable" as *;
@use "../Foundation/mixin";

.l-section {
  padding: 60px 0;
  position: relative;
}

.l-section__head {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 32px;
}

.l-section__head--center {
  text-align: center;
}

.section__lead-text {
  font-size: 16px;
  line-height: 1.6;
}

.section__contents {
  margin-top: 40px;
}

.l-section__footer {
  display: grid;
  background: #aaa;
  @include mixin.mq("md") {
  }
}
