// =========================================
// Foundation
// =========================================
@use "sass:map";

$font-family-ja: "Noto Sans JP", sans-serif;
$font-family-en: "Montserrat", sans-serif;

$font-size-base: 16px;
$line-height-base: 1.7;

$color-base: #333;
$background-base: #fff;
$color-key1: #2082e0;
$color-key2: #2bcbc6;

$grad-primary: linear-gradient(90deg, #2188de 1.75%, #2bcbc6 97.75%);
$grad-hero: linear-gradient(180deg, #eaf4f7 0%, #fff 100%);

$width-inner: 1280px;

$breakpoints: (
  sp: "screen and (max-width: 767px)",
  tab: "screen and (min-width: 768px) and (max-width: 1023px)",
  pc: "screen and (min-width: 1024px)",
);

@mixin mq($breakpoint: pc) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}

// =========================================
// Base
// =========================================
body {
  font-family: $font-family-ja;
  font-size: $font-size-base;
  line-height: $line-height-base;
  color: $color-base;
  background: $background-base;
}

// =========================================
// Component: Button
// =========================================
.button {
  font-weight: 700;
  letter-spacing: 3px;
  padding-top: 9px;
  padding-bottom: 9px;
  display: inline-block;
  border-radius: 48px;
  background: $grad-primary;
  font-size: 16px;
  line-height: 1.7;
  color: #f6f7f7;
  min-width: 200px;
  text-align: center;
  transition: background-color 0.3s, color 0.3s;
  box-shadow: 4px 3px 26px 0 rgba(0, 0, 0, 0.16);

  @include mq(pc) {
    cursor: pointer;
    &:hover {
      opacity: 0.85;
    }
  }
}

.container {
  padding-top: 60px;
  padding-bottom: 60px;

  @include mq(pc) {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

// =========================================
// Layout: Header
// =========================================
.header {
  background: $grad-hero;
}

.header__inner {
  padding: 0 15px 80px;
  max-width: 428px;
  width: 100%;
  margin-inline: auto;

  @include mq(pc) {
    max-width: $width-inner;
    width: 100%;
    padding-top: 0;
    padding-left: 40px;
    padding-right: 40px;
  }
}

// -----------------------------------------
// Header top (logo + nav + menu icon)
// -----------------------------------------
.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 0;

  @include mq(pc) {
    height: 80px;
    padding: 0;
  }
}

.header__logo {
  width: 160px;
  // flex-shrink: 0;

  a img {
    width: 100%;
    height: auto;

    @include mq(pc) {
      padding-top: 23px;
      padding-bottom: 25px;
      align-items: center;
    }
  }
}

.header__nav {
  display: none;

  @include mq(pc) {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 831px;
  }
}

.header__link {
  color: #fff;
  font-size: 20px;
  font-weight: 700;

  @include mq(pc) {
    color: $color-base;
    font-size: $font-size-base;
    font-weight: 500;
    padding: 26px 22px;
    transition: color 0.3s;

    &:hover {
      color: $color-key1;
    }
  }
}

.header__link:nth-child(1) {
  @include mq(pc) {
    padding: calc(25px - 5px) 24px 27px 22px;
    border-top: 5px solid #2082df;
  }
}

.header__button {
  @include mq(pc) {
    margin-top: 5px;
    margin-left: auto;
  }
}

.header__open {
  border: none;
  background: transparent;

  @include mq(pc) {
    display: none;
  }
}

.drawer-icon {
  width: 40px;
  height: 20px;
  position: relative;
  z-index: 51;

  &__bar {
    position: absolute;
    left: 0;
    width: 40px;
    height: 3px;
    border-radius: 1.5px;
    background: $color-key1;
    transition: transform 0.3s linear, top 0.3s linear;

    &:nth-of-type(1) {
      top: 0;
    }
    &:nth-of-type(2) {
      top: 10px;
    }
    &:nth-of-type(3) {
      top: 20px;
    }
  }
}

// -----------------------------------------
// Header main (image + text block)
// -----------------------------------------
.header__main {
  margin-top: 20px;
  text-align: center;

  @include mq(pc) {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin-top: 0px;
  }
}

.header__image {
  text-align: center;

  img {
    width: 398px;
    max-width: 100%;
    height: auto;

    @include mq(pc) {
      width: 650px;
    }
  }

  @include mq(pc) {
    text-align: right;
    margin-top: 31px;
    margin-right: 40px;
  }
}

.fv-picture {
}

.header__content {
  margin-top: 40px;
  text-align: center;
  font-family: inherit;

  @include mq(pc) {
    margin-top: 94px;
    text-align: left;
    width: 368px;
    margin-left: 40px;
  }
}

.header-content__logo {
  img {
    width: 250px;
    height: auto;
  }
}

.header-content__title {
  margin-top: 20px;
  color: #2b2b2b;
  font-size: 20px;
  font-weight: 700;
  font-family: inherit;

  @include mq(pc) {
    margin-top: 24px;
    font-size: 26px;
  }
}

.header-content__text {
  margin-top: 20px;
  font-weight: 400;
  line-height: 2; /* 32px */
  font-family: inherit;

  @include mq(pc) {
    margin-left: 3px;
  }
}

.header-content__button {
  margin-top: 30px;
  padding-left: 2px;
}

// -----------------------------------------
// News
// -----------------------------------------
.news {
}

.news__inner {
  max-width: 428px;
  width: 100%;
  margin-inline: auto;

  @include mq(pc) {
    max-width: $width-inner;
    width: 100%;
  }
}

.news__card {
  // padding: 60px 15px;
  padding-left: 15px;
  padding-right: 15px;

  @include mq(pc) {
    // padding-top: 100px;
    // padding-bottom: 100px;
    padding-left: calc(175px / 1280px * 100%);
    padding-right: calc(175px / 1280px * 100%);
  }
}

.news__title {
  margin: 0;
  padding: 0 0 9px;
  color: #238fdc;
  font-family: $font-family-en;
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 3px;
  text-align: center;
  position: relative;

  @include mq(pc) {
    font-size: 36px;
    letter-spacing: 3.6px;
    padding-bottom: 5px;
  }

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 60px;
    height: 3px;
    background: #2bc8c8;
  }
}

.news__lists {
  margin-top: 46px;

  @include mq(pc) {
    margin-top: 61px;
  }
}

.news__list {
  &:nth-child(n + 2) {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 1px;
      bottom: 0;
      left: 0;
      background: #e3e3e3;
    }
  }
}

.news__link {
  text-align: center;

  a {
    width: 121px;
    height: 37px;
    white-space: nowrap;
    color: #2392db;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 3px;
    display: inline-flex;
    padding: 5px 24px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 2px;
    border: 1px solid #2392db;
    box-shadow: 4px 3px 26px 0 rgba(0, 0, 0, 0.16);
  }
}

.news-link {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  padding-bottom: 13px;

  &:nth-child(n + 3) {
    padding-bottom: 10px;
  }

  @include mq(pc) {
    flex-direction: row;
    gap: 30px;
    padding-top: 12px;
    padding-bottom: calc(12px - 1px);
    align-items: center;

    &:nth-child(n + 3) {
      gap: 32px;
    }

    &:nth-child(2) {
      padding-bottom: 10px;
    }

    &:nth-child(5) {
      padding-bottom: 10px;
    }
  }
}

.news-link__date {
  font-size: 14px;
  font-weight: 400;
  white-space: nowrap;

  @include mq(pc) {
    width: 119px;
    font-size: 16px;
  }
}

.news-link__title {
  margin-top: 8px;
  color: #111;
  font-size: 15px;
  font-weight: 400;

  @include mq(pc) {
    margin-top: 0;
    font-size: 16px;
  }
}

.news__controls {
  margin-top: 46px;
  display: flex;
  flex-direction: column;
  gap: 30px;

  @include mq(pc) {
    margin-top: 26px;
    flex-direction: row;
    justify-content: space-between;
    gap: 0;
  }
}

.pager {
  text-align: center;
}

.pager__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.pager__item {
}

.pager__link {
  // display: flex;
  // justify-content: center;
  // align-items: center;
  display: grid;
  place-items: center;
  width: 36px;
  height: 36px;
  color: #707070;
  font-family: $font-family-en;
  font-size: 18px;
  font-weight: 500;
  line-height: 100%; /* 18px */
  letter-spacing: 1.44px;
  border: 1px solid var(--828282, #828282);
  background: var(--ffffff, #fff);
}

.pager__item--prev {
}

.pager__item--current {
  color: #fff;
  background: #228ddd;
  pointer-events: none;
}

.pager__item--next {
}

// -----------------------------------------
// Concept
// -----------------------------------------
.concept {
  padding-top: 60px;
  padding-bottom: 60px;
  background: #f4fbff;

  @include mq(pc) {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

.concept__inner {
  max-width: 428px;
  width: 100%;
  margin-inline: auto;
  padding-left: 20px;
  padding-right: 20px;
  // padding: 60px 20px;
  // background: #f4fbff;

  @include mq(pc) {
    max-width: $width-inner;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    // padding: 100px 0px;
  }
}

.concept__body {
  @include mq(pc) {
    width: 980px;
    margin: 0 auto;
    display: flex;
    gap: 80px;
  }
}

.concept__image {
  text-align: center;
  // flex-shrink: 0;
  flex: 0 0 450px;

  img {
    max-width: 310px;
    width: 100%;

    @include mq(pc) {
      max-width: 450px;
      height: auto;
      width: 100%;
    }
  }
}

.concept__content {
  text-align: left;
  margin-top: 30px;

  @include mq(pc) {
    flex: 0 0 450px;
    margin-top: 37px;
    text-align: left;
  }
}

.concept-content__title {
  color: #228ddd;
  font-size: 24px;
  font-weight: 700;
  text-align: left;
  max-width: 388px;
  width: 100%;
  margin: 0 auto;

  @include mq(pc) {
    font-size: 26px;
    margin-left: 0;
  }
}

.concept-content__text {
  margin: 30px auto 0;
  font-size: 15px;
  font-weight: 400;
  line-height: 200%; /* 30px */
  text-align: left;

  @include mq(pc) {
    margin-left: 0;
  }
}

.concept-content__button {
  text-align: center;
  margin-top: 30px;
  padding-right: 50px;
  // white-space: nowrap;

  a {
    max-width: 275px;
    width: 100%;
  }

  @include mq(pc) {
    margin-top: 36px;
    padding-left: 0;
    text-align: left;
  }
}

// -----------------------------------------
// CaseStudy
// -----------------------------------------
.casestudy {
}

.casestudy__inner {
  // padding-left: 20px;
  // padding-right: 20px;
}

.casestudy__head {
  padding-left: 30px;

  @include mq(pc) {
    padding-left: 80px;
    display: flex;
    align-items: center;
    gap: 30px;
    max-width: calc(1280px - 80px * 2);
    width: 100%;
  }
}

.casestudy__head-main {
  color: #228ddd;
  font-family: $font-family-en;
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 3.6px;
}

.casestudy__head-sub {
  color: #228bde;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 2.66px;
  margin-top: 2px;
}

.casestudy__slider {
  margin-top: 50px;
  margin-bottom: 30px;
  overflow: hidden;

  @include mq(pc) {
    margin-top: 40px;
    margin-bottom: 24px;
    // max-width: calc(320px * 3 + 18px * 2);
    // width: 100%;
  }
}

.casestudy__swiper {
  padding-bottom: 42px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;

  @include mq(pc) {
    padding-bottom: 57px;
    padding-left: 142px;
    padding-right: 142px;
  }
}

.casestudy__slide {
}

.casestudy__pagination {
  display: flex;
  justify-content: center;
  gap: 12px;
  bottom: 0 !important;

  .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    margin-left: 0 !important;
    margin-right: 0 !important;
    background: #e1e1e1;
    opacity: 1;

    &.swiper-pagination-bullet-active {
      background: #2f7dc8;
    }
  }
}

.casestudy__prev,
.casestudy__next {
  width: 44px;
  height: 44px;
  margin-top: -42px !important;

  &::after {
    display: none;
  }

  svg {
    display: none;
  }
}

.casestudy__prev {
  left: 12px !important;
  background: url(../img/casestudy_prev.png) no-repeat center center / contain;

  @include mq(pc) {
    left: 80px !important;
  }
}

.casestudy__next {
  right: 12px !important;
  background: url(../img/casestudy_next.png) no-repeat center center / contain;

  @include mq(pc) {
    right: 80px !important;
  }
}

.casestudy__link {
  text-align: center;

  a {
    font-weight: 700;
    letter-spacing: 3px;
    padding: calc(9px - 1px) calc(54px - 1px);
    display: inline-block;
    border-radius: 2px;
    border: 1px solid #2392db;
    font-size: 16px;
    line-height: 170%; /* 27.2px */
    color: #2392db;
    min-width: 181px;
    text-align: center;
    box-shadow: 4px 3px 26px 0 rgba(0, 0, 0, 0.16);
  }
}

.casestudy-card {
  border-radius: 4px;
  background: #fff;
  filter: drop-shadow(5px 7px 34px #f1f1f1);
  max-width: 320px;
  width: 100%;
  // height: 330px;
}

.casestudy-card__image {
  img {
    width: 100%;
    height: auto;
    display: block;
  }
}

.casestudy-card__lead {
  color: #228ddd;
  font-size: 15px;
  font-weight: 700;
  margin-top: 14px;
}

.casestudy-card__wrapper {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.casestudy-card__company,
.casestudy-card__name {
  font-size: 12px;
  font-weight: 700;
}

.casestudy-card__company {
}

.casestudy-card__name {
}

.casestudy-card__category {
  color: #9d9d9d;
  font-size: 12px;
  font-weight: 400;
  margin-top: 10px;
}

// -----------------------------------------
// Price
// -----------------------------------------
.price {
  padding-top: 60px;
  padding-bottom: 60px;
  background: #f4fbff;

  @include mq(pc) {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

.price__inner {
  max-width: 428px;
  width: 100%;
  margin-inline: auto;
  // background: #f4fbff;

  @include mq(pc) {
    max-width: $width-inner;
    width: 100%;
  }
}

.price__head {
  // padding-top: 60px;
  padding-left: 30px;

  @include mq(pc) {
    // padding-top: 100px;
    padding-left: 0;
    display: flex;
    align-items: center;
    gap: 30px;
    margin: 0 auto;
    max-width: 960px;
    width: 100%;
  }
}

.price__head-main {
  color: #228ddd;
  font-family: $font-family-en;
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 3.6px;
  max-width: 199px;
}

.price__head-sub {
  color: #228bde;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 2.66px;
  padding-top: 3px;
}

.price__cards {
  margin-top: 43px;
  // padding-bottom: 60px;
  display: flex;
  flex-direction: column;
  gap: 30px;

  @include mq(pc) {
    margin: 38px auto 0px;
    // padding-bottom: 100px;
    flex-direction: row;
    justify-content: center;
    max-width: 960px;
    width: 100%;
  }
}

.price__card {
  border-radius: 10px;
  border: 0 solid #707070;
  background: var(--rgb-255255255, #fff);
  padding: 30px 20px;
  margin: 0 auto;
  max-width: 300px;
  width: 100%;
  height: 487px;
}

.price-card__title {
  color: #2392db;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
}

.price-card__price {
  display: flex;
  justify-content: center;
  align-items: baseline; // 数字と単位の位置そろえに便利
  color: #2392db;
  font-size: 36px;
  font-weight: 700;
  line-height: 48px; /* 133.333% */
  letter-spacing: 3.6px;
  margin-top: 7px;
  padding-left: 4px;
  height: 48px;
}

.price-card__table {
  margin-top: 30px;
  width: 100%;
  border-collapse: collapse;
}

.price-card {
}

.price-card__price--free {
  color: #2392db;
}

.price-card__price--paid {
  color: #228ddd;
}

.price-card__period,
.price-card__unit {
  color: var(--rgb-515151, #333);
  font-size: 16px;
  font-weight: 700;
  text-align: center;
}

.price-card__value {
  color: #2392db;
  font-size: 36px;
  font-weight: 700;
  line-height: 48px; /* 133.333% */
  letter-spacing: 3.6px;
}

.price-card__row {
  border-bottom: 1px solid #c2c2c2;
}

.price-card__heading {
  text-align: left;
  padding: 6px 0 calc(6px - 1px) 11px;
  width: 50%;
  font-size: 16px;
  font-weight: 400;
  height: calc(39px - 1px);
}

.price-card__data {
  text-align: right;
  padding: 6px 12px calc(6px - 1px) 0;
  width: 50%;
  font-size: 16px;
  font-weight: 400;
  height: calc(39px - 1px);
}

.price-card__button {
  margin-top: 30px;
  text-align: center;
}

// -----------------------------------------
// Cta
// -----------------------------------------
.cta {
  background: linear-gradient(90deg, #2390dc 0%, #2bc8c8 100%);
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: center;

  @include mq(pc) {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}

.cta__inner {
  max-width: 428px;
  width: 100%;
  margin-inline: auto;

  @include mq(pc) {
    max-width: $width-inner;
    width: 100%;
    // padding-left: 40px;
    // padding-right: 40px;
  }
}

.cta__title {
  color: #fff;
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 2.6px;
}

.cta__text {
  margin-top: 8px;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 1.6px;
}

.cta__button {
  margin-top: 17px;
}

.button--large {
  // min-width: 240px;
  // color: #f6f7f7;
  // text-align: center;
  // font-size: 16px;
  // font-weight: 700;
  // letter-spacing: 3px;
  // border-radius: calc(50px - 2px);
  border: 2px solid #fff;
  // box-shadow: 4px 3px 26px 0 rgba(0, 0, 0, 0.16);
  // display: inline-flex;
  padding: calc(9px - 2px) calc(54px - 2px);
  // padding-left: 54px;
  // padding-right: 54px;
  justify-content: center;
  align-items: center;
  // gap: 10px;

  // @include mq(pc) {
  //   &:hover {
  //     background: #fff;
  //     color: #2392db;
  //   }
  // }
}

// -----------------------------------------
// Blog
// -----------------------------------------
.blog {
  // @include mq(pc) {
  //   margin-top: 88px;
  //   padding-top: 70px;
  //   padding-bottom: 50px;
  // }
}

.blog__inner {
  max-width: 428px;
  width: 100%;
  margin-inline: auto;
  padding-left: 30px;
  padding-right: 38px;

  @include mq(tab) {
    max-width: 834px;
    width: 100%;
    padding-left: 47px;
    padding-right: 47px;
  }

  @include mq(pc) {
    max-width: 1280px;
    width: 100%;
    padding-left: 80px;
    padding-right: 80px;
  }
}

.section__head {
  @include mq(tab) {
    display: flex;
    align-items: center;
    margin-left: 33px;
    gap: 28px;
  }

  @include mq(pc) {
    margin-left: 0;
    display: flex;
    align-items: center;
    gap: 28px;
  }
}

.section__head-main {
  color: #228ddd;
  font-family: $font-family-en;
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 3.6px;
  text-align: left;
  width: 118px;
}

.section__head-sub {
  margin-top: 2px;
  color: #228bde;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 2.66px;
  text-align: left;
  width: 48px;
  white-space: nowrap;

  @include mq(tab) {
    margin-top: 0;
  }

  @include mq(pc) {
    margin-top: 0;
  }
}

.blog__cards {
  margin-top: 45px;
  display: flex;
  flex-direction: column;
  gap: 16px;

  @include mq(tab) {
    margin-top: 60px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 34px 20px;
  }

  @include mq(pc) {
    display: grid;
    margin-top: 38px;
    grid-template-columns: repeat(3, 1fr);
    gap: 34px 20px;
  }
}

.blog-card {
  border-radius: 4px;
  background: $background-base;
  box-shadow: 5px 7px 34px rgba(241, 241, 241, 1);
  overflow: hidden; // ← 忘れずに！画像の角丸を反映するため
}

.blog-card__image {
  --pt: 12px;
  --pr: 15px;
  --pb: 0px;
  --pl: 15px;

  width: 100%;
  position: relative;
  padding: var(--pt) var(--pr) var(--pb) var(--pl);

  img {
    width: 100%;
    height: auto;
    display: block;
  }
}

.blog-card__label {
  position: absolute;
  top: var(--pt); // ← padding-topと自動で同じ
  right: var(--pr); // ← padding-rightと自動で同じ
  width: 100px;
  min-height: 24px;
  padding: 6px 8px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #2392db;
  color: #fff;
  font-size: 12px;
  font-weight: 700;
  line-height: 1;
  white-space: nowrap;
}

.blog-card__body {
  padding: 6px 15px 16px; // 画像との間8px / 左右15px / 下16px
}

.blog-card__title {
  height: 26px;
  font-size: 15px;
  font-weight: 700;
  margin-top: 0;
}

.blog-card__text {
  height: 42px;
  font-size: 13px;
  font-weight: 400;
  margin-top: 4px;
  overflow-wrap: anywhere; /* 長い単語のはみ出し防止 */
}

.blog__button {
  margin-top: 46px;
  text-align: center;

  @include mq(tab) {
    margin-top: 59px;
  }

  @include mq(pc) {
    margin-top: 60px;
  }
}

// -----------------------------------------
// Seminar
// -----------------------------------------
.seminar {
  // padding-top: 60px;
  // padding-bottom: 60px;
}

.seminar__inner {
  max-width: 428px;
  margin-inline: auto;
  padding-left: 15px;
  padding-right: 15px;

  @include mq(pc) {
    max-width: 1080px;
    width: 100%;
    padding-left: 100px;
    padding-right: 100px;
  }
}

.seminar__head {
  margin-left: 15px;
  margin-right: 15px;

  @include mq(pc) {
    display: flex;
    align-items: center;
    margin-left: 0;
    gap: 30px;
  }
}

.seminar__head-main {
  color: #228ddd;
  font-family: $font-family-en;
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 3.6px;
  max-width: 199px;
}

.seminar__head-sub {
  color: #228bde;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 2.66px;
  padding-top: 3px;
}

.seminar__cards {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 36px;
  margin-top: 45px;

  @include mq(pc) {
    margin-top: 38px;
    gap: 40px;
  }
}

.seminar__card {
  padding-top: 24px;
  border-radius: 6px;
  border: 0 solid #707070;
  background: var(--rgb-255255255, #fff);
  box-shadow: 5px 7px 34px 0 #f1f1f1;

  @include mq(pc) {
    padding: 24px;
  }
}

.seminar__link {
  text-align: right;
  margin-top: 26px;

  @include mq(pc) {
    margin-top: 20px;
  }

  a {
    display: inline-block;
    max-width: 158px;
    width: 100%;
    text-align: center;
    padding: calc(8px - 1px) calc(44px - 1px);
    color: #2392db;
    font-size: 14px;
    font-weight: 500;
    border-radius: 2px;
    border: 1px solid #2392db;
  }
}

.seminar__button {
  margin-top: 45px;
  text-align: center;

  @include mq(pc) {
    margin-top: 39px;
  }
}

.seminar-card {
  @include mq(pc) {
    display: flex;
    margin-top: 0;
    gap: 30px;
    max-width: 1080px;
    margin-left: auto;
    margin-right: auto;
  }
}

.seminar-card__image {
  text-align: center;

  @include mq(pc) {
  }

  img {
    max-width: 324px;
    width: 100%;
  }
}

.seminar-card__body {
  margin: 22px 12px 30px;

  @include mq(pc) {
    margin: 0;
  }
}

.seminar-card__head {
  display: flex;
  gap: 10px;
}

.seminar-card__label {
  color: var(--rgb-255255255, #fff);
  font-size: 12px;
  font-weight: 700;
  padding: 6px 12px 5px;
  line-height: 100%; /* 12px */
  border-radius: 2px;
  background: #2392db;
  height: 24px;
}

.seminar-card__date {
  color: var(--rgb-515151, #333);
  text-align: right;
  font-size: 16px;
  font-weight: 500;
}

.seminar-card__title {
  color: var(--rgb-515151, #333);
  font-size: 20px;
  font-weight: 700;
  margin-top: 14px;

  @include mq(pc) {
    margin-top: 9px;
  }
}

.seminar-card__text {
  // height: 171px;
  font-size: 14px;
  font-weight: 500;
  margin-top: 16px;

  @include mq(pc) {
    margin-top: 13px;
  }
}

// -----------------------------------------
// qa
// -----------------------------------------

.qa {
  background: #f4fbff;

  @include mq(pc) {
    padding-top: 100px;
    padding-bottom: 121px;
  }
}

.qa__inner {
  padding-left: 15px;
  padding-right: 15px;

  @include mq(pc) {
    padding-left: 240px;
    padding-right: 240px;
  }
}

.qa__title {
  color: #238fdc;
  text-align: center;
  font-family: $font-family-en;
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 3.6px;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    bottom: -4px;
    left: 50%;
    transform: translateX(-50%);
    width: 60px;
    height: 3px;
    background: #2bc8c8;
  }
}

.qa__boxes {
  margin-top: 51px;
  display: flex;
  flex-direction: column;
  gap: 12px;

  @include mq(pc) {
    margin-top: 48px;
    gap: 19px;
  }
}

.qa__box {
  max-width: 398px;
  width: 100%;
  margin: 0 auto;

  @include mq(pc) {
    max-width: 800px;
  }
}

.qa-box__head {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 10px 10px 10px 60px;
  border-radius: 10px;
  background: #fff;
  position: relative;

  @include mq(pc) {
    padding: 12px 14px 12px 85px;
  }

  // &:nth-child(3) {
  //   height: 150px;

  //   @include mq(pc) {
  //     height: 78px;
  //   }
  // }
}

.qa-box__head-icon {
  display: grid;
  place-items: center;
  width: 50px;
  background: #238fdc;
  color: #fff;
  font-size: 26px;
  font-weight: 700;
  border-radius: 10px 0 0 10px;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;

  @include mq(pc) {
    width: 71px;
  }
}

.qa-box__head-text {
  display: block;
  text-align: left;
  font-size: 15px;
  font-weight: 400;
  // line-height: 170%; /* 23.8px */
  max-width: 296px;
  width: 100%;

  @include mq(pc) {
    font-size: 16px;
    max-width: 660px;
  }
}

.qa-box__toggle {
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
}

.qa-box__body {
  // display: flex;
  // justify-content: flex-end;
  // max-width: 378px;
  // width: 100%;
  margin-top: 12px;
  // overflow: hidden;
  // max-height: 0;
  // transition: max-height 0.3s ease;

  @include mq(pc) {
    margin-top: 6px;
  }
}

.qa-box__a {
  // display: flex;
  // justify-content: flex-end;
  background: #fff;
  border-radius: 10px;
  // margin-top: 12px;
  margin-left: auto;
  padding: 10px;
  max-width: 378px;
  width: 100%;

  @include mq(pc) {
    padding: 12px 14px;
    max-width: 759px;
  }
}

.qa-box__a-text {
  display: block;
  font-size: 14px;
  font-weight: 400;
  // max-width: 358px;
  // width: 100%;

  @include mq(pc) {
    font-size: 16px;
    // max-width: 731px;
  }
}

// -----------------------------------------
// Footer
// -----------------------------------------
.footer {
  background: linear-gradient(90deg, #2390dc 0%, #2bc8c8 100%);
}

.footer__inner {
  max-width: 428px;
  width: 100%;
  margin-inline: auto;

  @include mq(pc) {
    max-width: $width-inner;
    width: 100%;
  }
}

.footer__container {
  @include mq(pc) {
    display: flex;
    justify-content: center;
    // padding-top: 60px;
    // padding-left: 109px;
  }
}

.footer__left {
  @include mq(pc) {
    padding-top: 64px;
  }
}

.footer__logo {
  padding-top: 46px;
  text-align: center;

  @include mq(pc) {
    padding-top: 0px;
    text-align: left;
  }

  img {
    width: 160px;
    height: auto;
  }
}

.footer__access {
  margin-top: 24px;
  text-align: center;

  @include mq(pc) {
    margin-top: 16px;
    text-align: left;
  }
}

.footer__access-address {
  color: var(--ffffff, #fff);
  font-size: 14px;
  font-weight: 500;
  padding-top: 1px;
}

.footer__access-phone {
  color: var(--ffffff, #fff);
  font-size: 14px;
  font-weight: 500;
  margin-top: 2px;
}

.footer__access-fax {
  color: var(--ffffff, #fff);
  font-size: 14px;
  font-weight: 500;
  margin-top: 2px;
}

.footer__menu {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-top: 36px;
  text-align: center;

  @include mq(pc) {
    flex-direction: row;
    padding-top: 60px;
    margin-left: 78px;
    gap: 0;
  }
}

.footer__menu-link {
  // display: inline-block;
  color: #fff;
  font-size: 14px;
  font-weight: 500;

  @include mq(pc) {
    padding: 0 25px;
    height: 24px;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      left: 0;
      top: 50%;
      width: 1px;
      height: 16px;
      background: #fff;
      transform: translateY(-50%);
    }

    &:first-child::after {
      display: none;
    }

    &:nth-child(1) {
      padding-left: 0px;
    }

    &:nth-child(3) {
      padding-right: 0px;
    }
  }
}

.footer__sns {
  display: flex;
  justify-content: center;
  gap: 16px;
  padding-top: 34px;

  @include mq(pc) {
    padding-top: 60px;
    margin-left: 87px;
  }
}

.footer__sns-link {
  img {
    width: 30px;
    height: auto;
    border-radius: 30px;
    background: #fff;
  }
}

.footer__bottom {
  text-align: center;
  margin-top: 30px;
  padding-top: 11px;
  padding-bottom: 11px;

  @include mq(pc) {
    margin-top: 50px;
  }
}

.footer__copyright {
  color: var(--ffffff, #fff);
  font-size: 12px;
  font-weight: 500;
  line-height: normal;
}
