@use "../../Foundation/variable" as *;
@use "../../Foundation/mixin";

.p-drawer__contents {
  background-color: $bg-dark;
  transform: translateY(-150%);
  transition: transform 0.3s linear;
  padding-top: 20vh;
  //   padding-bottom: 5vh;
  border-bottom: 2px solid $white;

  &.is-checked {
    transform: translateY(-25%);
  }
}

.p-drawer__footer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  border-top: 2px solid $white;
}

.p-drawer__footer-left,
.p-drawer__footer-right {
  flex: 1;
  a {
    display: grid;
    grid-template-columns: auto auto;
    padding-top: 2rem;
    padding-bottom: 2rem;
    column-gap: 0.5rem;
    width: 100%;
    text-align: start;
  }
  svg {
    justify-self: end;
  }
}

.p-drawer__footer-left {
  border-right: 2px solid $white;
}
