@use "../../Foundation/variable" as *;
@use "../../Foundation/mixin";

.p-fv__heading-main {
  font-size: clamp(2rem, 4.507vw + 0.944rem, 5rem);
  color: #333;
  &.reverse {
    color: $white;
  }
}

.p-fv__heading-sub {
  font-size: clamp(1rem, 0.657vw + 0.596rem, 1.1875rem);
  line-height: 2;
}
