@use "../../Foundation/variable" as *;
@use "../../Foundation/mixin";

.p-header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 50;
  height: 80px;
  transition: background-color 0.3s linear;
  background-color: transparent;

  @include mixin.mq("md") {
    height: 100px;
  }
  &.is-fixed {
    background-color: $header-bg;
  }
}

.p-header__container {
  display: grid;
  position: relative;
  grid-template-columns: auto 1fr;
  padding: 10px 20px;
  z-index: 10;
  align-items: center;
  @include mixin.mq("md") {
    padding: 20px 60px;
    margin: 0 auto;
    max-width: 1200px;
  }

  // &.is-fixed {
  //   background-color: $header-bg;
  // }
}

.p-header__menu {
  display: none;
  @include mixin.mq("md") {
    display: grid;
    justify-self: end;
    grid-template-columns: repeat(3, 1fr);
    margin-left: 30px;
    column-gap: 1rem;
  }
}

.p-header__logo {
  display: inline-block;
  color: $white;
  font-size: clamp(20px, 0.939vw + 16.479px, 30px);
  margin-left: 0.5em;
  letter-spacing: clamp(1px, 0.094vw + 0.648px, 2px);
}

.p-header__logo-img {
  width: clamp(40px, 1.878vw + 32.958px, 60px);
  height: clamp(40px, 1.878vw + 32.958px, 60px);
  border-radius: 50%;
}

.header__nav-item {
  & + & {
    margin-top: 24px;
  }
}

.p-header__menu-item {
  justify-self: center;
  align-self: center;
  position: relative;
  &::after,
  &::before {
    position: absolute;
    content: "";
    background-color: $white;
    transition: all 0.3s ease;
  }
  &::before {
    top: 0;
    left: 0;
    width: 0;
    height: 2px;
  }
  &::after {
    top: 0;
    left: 0;
    width: 2px;
    height: 0;
  }
  &:hover {
    &::before {
      width: 100%;
    }
    &::after {
      height: 100%;
    }
  }
}

.p-header__menu-link {
  display: block;
  position: relative;
  padding: clamp(0.625rem, 1.19vw + 0.054rem, 1.125rem) clamp(1rem, 1.19vw + 0.429rem, 1.5rem);
  letter-spacing: 0.05em;
  &::after,
  &::before {
    position: absolute;
    content: "";
    background-color: $white;
    transition: all 0.3s ease;
  }
  &::before {
    bottom: 0;
    right: 0;
    width: 0;
    height: 2px;
  }
  &::after {
    bottom: 0;
    right: 0;
    width: 2px;
    height: 0;
  }
  &:hover {
    &::before {
      width: 100%;
    }
    &::after {
      height: 100%;
    }
  }
}
.current {
  &::before {
    position: absolute;
    content: "";
    background-color: $white;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    height: 2px;
  }
}

.p-header__nav-list {
  display: grid;
  gap: 2rem;
  color: $white;
  justify-content: center;
}

.p-header__nav-item {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.p-header__fz {
  font-size: clamp(1rem, 1.19vw + 0.429rem, 1.5rem);
}
