// ============================================================
// Object / Project - Error 404
// ============================================================

.p-error-404 {
  display: grid;
  background-color: #fff;
  padding: 20px;
  margin-bottom: 170px;

  &__title {
    font-size: clamp(2rem, 2.381vw + 0.857rem, 3rem);
    margin-bottom: 16px;
  }

  &__text {
    line-height: 1.6;
  }

  &__button {
    text-align: right;
  }
}
