// ============================================================
// Layout - Footer
// ============================================================

.l-footer {
  position: relative;
  padding-block: 20px;
  text-align: center;
  z-index: 3;
}
