// ============================================================
// Layout - FV (First View)
// ============================================================
@use "../foundation/variables" as *;

.l-fv {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  z-index: 1;

  &__contents {
    position: relative;
    margin: 0 auto;
    height: 60vh;
    display: grid;
    align-items: end;
    justify-content: center;

    @media screen and (min-width: $bp-md) {
      justify-content: start;
    }
  }

  &__heading {
    position: absolute;
    top: 50%;
    left: 2vw;
    display: grid;
    grid-template-rows: auto auto;
    background-color: rgba($color-white, 0.4);
    margin: 2vw;
    padding: clamp(10px, 1.878vw + 2.958px, 30px);
    margin-bottom: 15px;

    @media screen and (min-width: $bp-md) {
      background-color: rgba($color-black, 0.252);
      margin-bottom: 0;
    }
  }
}
