// ============================================================
// Layout - Grid
// ============================================================
@use "../foundation/variables" as *;
@use "../foundation/mixin" as *;

.l-grid {
  display: grid;
  grid-template-columns: auto;
  gap: 16px 32px;
  justify-content: center;

  @include mq(pc) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.l-subgrid {
  display: grid;
  grid-row: span 2;
  grid-template-rows: subgrid;
}

.l-grid__swiper {
  display: grid;
}

.l-grid-row {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  row-gap: 0.5rem;
}

.l-grid-colmun {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 0.5rem;
}
