@use "../../Foundation/variable" as *;
@use "../../Foundation/mixin";

.price-table__container {
  margin-block: 3em;
}

.c-price-table {
  width: fit-content;
  border-collapse: collapse;
  margin: 2em auto;
}
.c-price-table th,
.c-price-table td {
  background: #f7f7f7;

  border: 1px solid #ddd;
  padding: 0.7em 1em;
  text-align: left;
  &:first-child {
    width: 30%;
    min-width: 140px;
  }
  &:last-child {
    vertical-align: middle;
  }
}
.c-price-table th {
  background: $bg-dark;
  color: #fff;
  font-weight: 700;
}
.c-price-table__note {
  margin-top: 1em;
  font-size: 0.95em;
  color: #555;
}
