@use "../../Foundation/variable" as *;
@use "../../Foundation/mixin";

.u-hidden-sp {
  display: none;
  @include mixin.mq("md") {
    display: block;
  }
}

.u-hidden-pc {
  display: block;
  @include mixin.mq("md") {
    display: none;
  }
}
